{% extends 'base.html.twig' %}

{% block title %}Anciens élèves{% endblock %}

{% block body %}
<section class="main-banner" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="header-text">
          <h2>Liste des anciens élèves</h2>
          <ul>
            {% for user in users %}
              {% if user.ancien %}
                <li>
                  <strong>{{ user.name }}</strong><br>
                  Email : {{ user.email }}<br>
                  Adresse : {{ user.adresse }}<br>
                  Promo nom : {{ user.promo.nomp }}<br>
                  Promo date : {{ user.Promo.datep }}<br>
                </li>
                <ul>
                  <li><a href="{{ path('users_by_promo', {'promoId': user.promo.nomp}) }}">Voir tout les utilisateurs de cette promotion</a></li>
                </ul>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}